* {
    margin: 0;
}

header {
    text-align: center;
    color: white;
    padding: 40px 0;
    background: linear-gradient(0deg, rgba(42,120,94,1) 0%, rgba(1,54,44,1) 60%);
}

footer {
    background-color: #2a785e;
    padding: 40px 0;
    
}



.postInfo {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid 2px rgba(42,120,94,1) ;

}

.commentsDiv {
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: white;
}

body {
    background-color: (237, 249, 239, 1);
}

.bouton {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.monBouton {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
   
    border: none;
    border-radius: 80px;
    background: linear-gradient(rgb(245, 177, 177) 0%, rgb(246, 9, 9) 90%);
    filter: drop-shadow(rgba(101, 171, 124, 0.484) 5px 5px 2px);
    

}

.commentsDiv:first-child {
    display: none;
}