
@font-face {
    font-family: 'constantia';
    src: url(fonts\constantia\constan.ttf);
}

* {
    margin: 0;
}

header {
    text-align: center;
    color: white;
    padding-bottom: 150px;
    padding-top: 50px;
    background: linear-gradient(0deg, rgba(42,120,94,1) 0%, rgba(1,54,44,1) 60%);
}

.texteHeader {
    text-align: right;
    padding-bottom: 10px;
    margin-right: 40px;
    border-radius: 30px;
    float: right;
    font-family: 'constantia';
}

p {
    margin-bottom: 30px;
    margin-right: 30px;
}

p:hover{
    text-decoration: underline;
}

.accueil {
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
   
}

.accueil:hover{
    text-decoration: underline;
}

input {
    border-radius: 10px;
    border: none;
    height: 20px;
    width: 150px;
    display: flex;
}
.searchBar {
    position: relative;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchBar input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #ffffff;
}

.searchBar i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #2a785e;
}

h1 {
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
    color: white;
    display: inline-flex;
    float: left;
    font-family: 'constantia';
}

.postInfo {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid 2px rgba(42,120,94,1);
    
}

.commentsDiv {
    padding-top: 20px;
}

.commentsDiv:first-child {
    display: none;
}


h2 {
    text-align: center;
    margin-top: 50px;
    color: rgba(1,54,44,1);
}

.bouton {
    display: flex;
    justify-content: center;
    margin: 50px;
    
}

.monBouton {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: 40px;
    border: solid 2px rgba(42,120,94,1);
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.monBouton:hover {
    background-color: rgba(42,120,94,1);
    color: white;
}


footer {
    background-color: #2a785e;
    padding: 40px 0;
    margin-top: 50px;
    
}
